.form_main .container{
  font-family: "Montserrat",sans-serif;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
}

.form_main .col-md-6{
  padding-right: 0px;
  padding-left: 0px;
}

.form_main .overlay-container {
  color:whitesmoke;
  padding :25px;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(79, 29, 161);
  border-radius: 0px 10px 10px 0px;
  background: linear-gradient(to right,rgb(179, 36, 136), rgb(61, 24, 122)) no-repeat 0 0/ cover ;
}

.form_main h1 {
  font-weight: 800;
  margin-bottom: 25px;
}

.form_main .overlay-container p {
  font-size: 17px;
  font-weight: 100;
}

.form_main form{
  text-align: center;
  background: whitesmoke;
  padding: 35px;
  box-shadow: -1px 1px 4px 1px rgba(0, 0, 0, 0.21);
  border-radius: 10px 0px 0px 10px; 
}

.form_main .form-input{
  background: rgb(228, 228, 228);
  border: none;
  padding :12px 15px;
  margin: 8px 0;
  width: 100%;
}

.form_main .form-inputs p{
  color: red;
  margin: 0;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
}

.form_main button:focus {
  outline: none;
}

.form_main button:active {
  transform: scale(0.95);
}

.form_main button.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}

.form_main button{
  border-radius: 20px;
  border: 1px solid rgb(79, 29, 161);
  background-color: rgb(79, 29, 161);
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 20px;
  
}
  
@media (max-width: 768px){

  .form_main form{
    margin-top: 30px;
    border-radius: 10px;
  }

  .form_main .overlay-container{
    border-radius: 10px;
  }

} 

@media (max-width: 600px){

  .form_main .col-md-6{
    padding-right: 20px;
    padding-left: 20px; 
  }
  
}