.navbar_wrapper a{
    padding: 20px;
    color: #FFFFFF;

  }
  .variant-navbarlogo{
    color: #FFFFFF;
  }
  .navbar-title{
   font-size: 20px;
   color: #FFFFFF;
  }
  .bg-mypurple{
    background-color:rgb(79, 29, 161);
    background: linear-gradient(to right,rgb(179, 36, 136), rgb(61, 24, 122)) no-repeat 0 0/ cover ;
  }


  @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
  *{
    box-sizing: border-box;
  }

  /* .container{
    font-family: "Montserrat",sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
  } */



  .account-container{
    background: whitesmoke;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'form-container' 'overlay-container';
    -webkit-box-shadow: -1px 1px 4px 1px rgba(0, 0, 0, 0.19);
    box-shadow: -1px 1px 4px 1px rgba(0, 0, 0, 0.21);
    position:relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    z-index: 10;

  }
  h1{
    font-weight:semi-bold;
    margin: 0;

  }
  p{
    font: size 14px;
    font-weight:100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin:20px 0 30px;
  }
  a{
    color: #333;
    font-size: 18px;
    text-decoration: none;

  }
  .form-container form{
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .form-container input {
    background: rgb(228, 228, 228);
    border: none;
    padding :12px 15px;
    margin: 8px 0;
    width: 100%;
  }
  button {
      border-radius: 20px;
      border: 1px solid rgb(79, 29, 161);
      background-color: rgb(79, 29, 161);

      color: #FFFFFF;
      font-size: 12px;
      font-weight: bold;
      padding: 12px 45px;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: transform 80ms ease-in;
  }
  button:active {
      transform: scale(0.95);
  }

  button:focus {
      outline: none;
  }
  button.ghost {
      background-color: transparent;
      border-color: #FFFFFF;

  }
  .login-container {


  }
  .overlay-container {
    color:whitesmoke;
    padding :25px;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(79, 29, 161);
    background: linear-gradient(to right,rgb(179, 36, 136), rgb(61, 24, 122)) no-repeat 0 0/ cover ;
    height:110%;

  }

  a.nav-link.new_btn{
    background: #11cdef;
    margin-right: 10px;
    border-radius: 7px;
    font-size: 1rem;
    
  }

  .new_btn2 {
    background: #172b4d;
    color: white;
    border-radius: 7px;
    font-size: 1rem;
}
@media (max-width: 819px){

  .new_btn2 span {
    display: none;
  }

} 
